body{
  margin:0px;
  
  background-color: black;
}

.App{
  font-size: 50px;

  display: flex;
  flex-direction: column;
  align-items: center;
  
  background: rgba(216, 216, 216, 0.897);
  color: white;

  /* text-shadow: 0.5px 0.5px 1px white; */
}

.App-header{
  font-size: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  margin-bottom: 10px;
  font-weight: bolder;
  text-shadow: 1px 1px 3px black;
}

.itembox {
  font-size: 50%;
  
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: black;
  border: solid 1px white;

  margin-bottom: 50px;
  padding: 50px;
}

.update {
  font-size: 50%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.retrieved-data {

  display: flex;
  flex-direction: column;
  align-items: center;
}

.data-box {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.success {
  font-size: 100px;
  color: white;
}

.input {
  width: 400px;
  font-size: 20px;
}

h2 {
  margin: 20px;
}

.login-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px;
  font-size: 16px;
}


.FrithLogo{
  position:relative;
  justify-content: center;
  height:175px;
  width:300px;
  padding:2px;
  
}
