body{
  margin:0px;
  
  background-color: black;
}

.App{
  font-size: 50px;

  display: flex;
  flex-direction: column;
  align-items: center;
  
  background: linear-gradient(maroon, navy);
  color: white;

  /* text-shadow: 0.5px 0.5px 1px white; */
}

.App-header{
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: white;
}

.itembox {
  font-size: 50%;
  
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: black;
  border: solid 1px white;

  margin-bottom: 50px;
  padding: 50px;
}

.update {
  font-size: 50%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.retrieved-data {

  display: flex;
  flex-direction: column;
  align-items: center;
}

.data-box {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.success {
  font-size: 100px;
  color: white;
}

.input {
  width: 400px;
  font-size: 20px;
}

h2 {
  margin: 20px;
}